<% provide(:title, "About") %>
<h1>ThirstAlert</h1>
<h2>What is ThirstAlert</h2>
<p>Your one stop shop for all folks "THIRSTY".</p>
<p>Navigating online dating is bad enough without having to deal
  with someone who just doesn't get the hint. No thank you, maybe you
  are not interested in an updated pic of said persons privates.</p>
<p>Let's not forget the folks who take it upon themselves to randomly
  private/direct message you on Facebook, Twitter, Instagram and just
  about any other major social media site you can think of. Yet again,
  no thank you on the unwanted attention.</p>
<p>Then there's the originator of it all... The extra, has had way
  drinks, grinding up all up you, can you buy me a drink person at the
  club. Unlike the first two, this one is hard to escape.</p>
<p>Last but not least, the EX who won't leave you alone. Ah yes, we've
  ALL had one. Who doesn't enjoy receiving a drunken text, call or email
  in the middle of the night being reminded of how "missed" you are.</p>
<p>ThirstAlert aims to expose the thirst. One, thirsty individual at a
  time.</p>
<h3>No matter what happens, always remember to stay HYDRATED.</h3>
<h3>IT'S REAL OUT HERE</h3>