<!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
</head>
<h1>ThrirstAlert</h1>
<h4>THIRST</h4>
<p>According to the dictionary, "Thirst" s the craving for
  fluids, resulting in the basic instinct of animals to drink.
Not in this, not here. A new thirst has dawned upon us. A thirst
that has probably always been around since the beginning of time,
but technology and social media has brought it to the light of day.</p>
<h4>THIRST</h4>
<p>A form of lust of or want of members of any sex. This
  term can refer to both males and females.</p>
<p>Let's break it down with some other definitions:</p>
<p>Someone who is desperate. A thirsty person is constantly
  looking for a person to date.</p>
<p>To be an attention seeker, to be eager to get something.</p>
<p>Desire, greed, obsession, or lust for an object or person
  characterized by over eagerness or obsessiveness that is
  obvious to everyone around you.</p>
<h2>Sign Up Here</h2>
<form class="pure-form pure-form-aligned">
  <fieldset>
    <div class="pure-control-group">
      <label for="name">Username</label>
      <input id="name" type="text" placeholder="Username">
    </div>

    <div class="pure-control-group">
      <label for="password">Password</label>
      <input id="password" type="password" placeholder="Password">
    </div>

    <div class="pure-control-group">
      <label for="email">Email Address</label>
      <input id="email" type="email" placeholder="Email Address">
    </div>

    <div class="pure-controls">
      <label for="cb" class="pure-checkbox">
        <input id="cb" type="checkbox"> I've read the terms and conditions
      </label>

      <button type="submit" class="pure-button pure-button-primary">Submit</button>
    </div>
  </fieldset>
</form>

<form class="pure-form">
  <fieldset class="pure-group">
    <input type="text" class="pure-input-1-2" placeholder="Anonymous Blast">
    <textarea class="pure-input-1-2" placeholder="Anonymously blast someone's THIRST. Somebody gotta quench the thirst."></textarea>
    <button type="submit" class="pure-button pure-input-1-2 pure-button-primary">BLAST</button>
  </fieldset>
</form>

</html>


